.title {
    color: white;
}

.formulario {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs {
    border-radius: 40px;
    width: 300px;
    height: 30px;
    color: #423CB5;
    border: 1px solid black;
}

.buttonEntrar {
    border-radius: 30px;
    color: white;
    background-color: #8A6BE5;
    margin-top: 20px;
    text-transform: none;
    width: 140px;
}