.form{
    border-radius: 40px;;
    border: 0.5px solid black;
}

.button-form-select{
    background-color: #31A354;
    color: white;
    border-radius: 10px;
    width: 130px;
    height: 37px;
}
.button-form-select:hover{
    background-color: #31A354;
    color: white;
    border-radius: 10px;
    width: 130px;
    height: 37px;
}
.button-form-unselect{
    background-color: white;
    border: 0.5px solid black;
    color: black;
    border-radius: 10px;
    width: 130px;
    height: 37px;
}
.button-form-unselect:hover{
    background-color: #31A354;
    color: white;
    border-radius: 10px;
    width: 130px;
    height: 37px;
}

.form-title{
    align: center;
    display: flex;
  justify-content: center;
  margin-right: 50px;
  align-items: center;
  margin-top: 10px;
  color: #6A6A6A;
}
.form-component-input{
    width: 446px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #707070;
}

.form-line{
    width: 272px;
}

.icon-check{
    background-color: white;
    color: #31A354;
}

.table-data{
    width: 695px;
    height: 404px;
}

.form-label{
    align: left;
}
.form-input-file{
    width: 446px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #707070;
    background-color: white;
    color: #6A6A6A;

}