:root {
  --side-gradient: transparent
    linear-gradient(180deg, #000000 0%, #2e3192 53%, #3b1458 100%) 0% 0%
    no-repeat padding-box;
  --top-gradient: transparent
    linear-gradient(117deg, #000000 0%, #2e3192 53%, #3b1458 100%) 0% 0%
    no-repeat padding-box;
    
  --icon-gradient: linear-gradient(180deg, #2e3192, #3b1458);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
